[core]
	editor = code --wait
	autocrlf = input
	quotepath = false
	ignorecase = false
	excludesfile = C:\\Users\\<account>\\.config\\git\\ignore
[user]
	name = tkono1
	email = <mail address>
	signingkey = <signing key>
[color]
	ui = auto
[alias]
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = false
[gpg "ssh"]
	allowedSignersFile = C:\\Users\\<account>\\.config\\git\\allowed_signers