[core]
	editor = \"C:\\Users\\<username>\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	autocrlf = input
	quotepath = false
	ignorecase = false
	excludesfile = C:\\Users\\<username>\\.config\\git\\ignore
[user]
	name = <username>
	email = <mail address>
	signingkey = <SSH public key>
[color]
	ui = auto
[alias]
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = false
[gpg "ssh"]
	allowedSignersFile = C:\\Users\\<username>\\.config\\git\\allowed_signers
