[core]
	editor = code --wait
	autocrlf = input
	quotepath = false
	ignorecase = false
	excludesfile = C:\\Users\\tkono\\.config\\git\\ignore
[user]
	name = tkono1
	email = tkono1@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILg4oCZqzg0FPZ7vaddLgLDpk0ggjU+y/NpJWIQNpUe1 tkono1@gmail.com
[color]
	ui = auto
[alias]
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = false
[gpg "ssh"]
	allowedSignersFile = C:\\Users\\tkono\\.config\\git\\allowed_signers